{% extends "base.html" %}
{% block pagecomments %}
login created by Tony
start 8/10/26
{% endblock %}

{% block content %}
<div style="min-height: 90vh;">

    <section class="auth-layout account-wrapper">

        <div class="auth-info">

            <section class="user-toggle register-benefits nothidden">
                <h2>Welcome Back to TeamBear</h2>

                <p class="intro">
                    We're delighted to see you again.
                </p>

                <ul>
                    <li>View your account details</li>
                    <li>Check your order history</li>
                    <li>Manage saved preferences</li>
                    <li>Continue browsing your favourite bears</li>
                </ul>

                <h3>Thank You for Being Part of TeamBear</h3>
            </section>

            

        </div>

        <div class="auth-form">

            <section login-toggle nothidden>

                <form method="post">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn">
                        Login
                    </button>
                    {% if user.is_authenticated %}
                    <form action="{% url 'account_logoutrf_token' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            Sign Out
                        </button>
                    </form>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">
                        Register
                    </button>

                </form>
            </section>


        </div>

    </section>
</div>
{% endblock %}