:root {
    --mobile: 480px;
    --tablet: 768px;
    --tablet-landscape: 768px;
    --laptop: 1024px;
    --desktop: 1280px;

    --navbar-height-desktop: 60px;
    --navbar-height-mobile: 50px;
    --footer-height: 50px;

    --font-heading: Georgia, serif;
    --font-body: Tahoma, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Media Queries for Responsive Design and hero loading*/
.hero {

    height: 90vh;
    width: 100%;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/static/images/hero/hero-mobile.webp");
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10vh;
}



/* Mobile Portrait */
@media (max-width: 400px) {
    h1 {
        color: blue;
    }
}

/* Mobile Landscape */
/* Short screens: mobile landscape, foldables, small embedded browsers */
@media (max-width: 700px) and (max-height: 400px) {
    .hero {
        background-image: url("/static/images/hero/mobil-portrait.webp");
    }

    .hero {
        min-height: 90vh;
    }

    body {
        overflow-y: auto;
    }


}

/* Tablet Portrait */
@media (min-width: 700px) and (min-height: 400px) {
    h1 {
        color: green;
    }
}

/* Tablet Landscape */
@media (min-width: 1280px) {
    h1 {
        color: white;
    }
}

/* Laptop */
@media (min-width: 2024px) {
    h1 {
        color: orangered;
    }
}

/* Desktop */
@media (min-width: 1280px) {
    h1 {
        color: purple;
    }
}

p {
    font-family: var(--font-body);
}

h1 {
    font-family: var(--font-heading);
}

/* Hidden modal state */
.modal.hidden {
    display: none;
}

footer {
    height: 10vh;
    background: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer p {
    max-width: 80ch;
    margin: 0.25rem 0;
    font-size: clamp(0.5rem, 0.8vw, 0.7rem);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}