:root {
    --mobile: 480px;
    --tablet: 768px;
    --tablet-landscape: 768px;
    --laptop: 1024px;
    --desktop: 1280px;

    --navbar-height-desktop: 60px;
    --navbar-height-mobile: 70px;
    --footer-height: 50px;

    --font-heading: Georgia, serif;
    --font-body: Tahoma, sans-serif;
    --font-brand: "Englebert", cursive;

    --black: (black);
    --white: (white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Media Queries for Responsive Design and hero loading*/
.hero {

    height: 90vh;
    width: 100%;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/static/images/hero/hero-mobile.webp");
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10vh;
    z-index: 0;
}

.hero-404 {
    background-image: url("/static/images/hero/404.webp");
}

.hero-403 {
    background-image: url("/static/images/hero/404.webp");
}

.hero-500 {
    background-image: url("/static/images/hero/404.webp");
}

body {
    height: 100vh;
}

.desk-navbar {
    display: none;
}

.navbar {
    display: flex;
}

/* Mobile Portrait */
@media (max-width: 400px) {
    .hero-404 {
        background-image: url("/static/images/hero/404-mobile.webp");
    }
}

/* Mobile Landscape */
/* Short screens: mobile landscape, foldables, small embedded browsers */
@media (max-width: 699px) and (max-height: 400px) {
    .hero {
        background-image: url("/static/images/hero/mobil-portrait.webp");
    }

    .hero {
        min-height: 90vh;
    }

    body {
        height: 700px;
        overflow-y: auto;
    }



}

/* Tablet Portrait */
@media (min-width: 700px) and (min-height: 400px) {


    .hero {
        background-image: url("/static/images/hero/mobil-portrait.webp");
    }
}

/* Tablet Landscape */
@media (min-width: 1280px) and (max-height: 800px) {}

/* Laptop */
@media (min-width: 1280px) and (min-height: 801px) {


    .desk-navbar {
        display: flex;
    }

    .navbar {
        display: none;
    }
}

/* Desktop */
@media (min-width: 1600px) {}

/* Medium shadow */
.shadow-medium {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

/* Heavy shadow */
.shadow-heavy {
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.45);
}

.radiusClip {
    border-radius: 3%;
}

.radiusRound {
    border-radius: 10%;

}

.circle {
    border-radius: 50%;
}

p {
    font-family: var(--font-body);
}

h1 {
    font-family: var(--font-heading);
}

/* Hidden modal state */
.modal.hidden {
    display: none;
}

footer {
    height: 10vh;
    background: var(--bg-card);
    color: currentColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

footer p {
    max-width: 80ch;
    margin: 0.25rem 0;
    font-size: clamp(0.5rem, 0.8vw, 0.7rem);
    color: currentColor;
}

body {
    display: flex;
    flex-direction: column;
}

/*
Navbar styles
*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;


    justify-content: flex-end;

    background: var(--dark-banner);

    color: var(--text-heading);

    padding: 0.75rem 0.5rem;
    box-sizing: border-box;
    height: var(--navbar-height-mobile);


    background: var(--dark-banner);
}

.desk-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;


    justify-content: flex-start;

    background: var(--dark-banner);

    color: var(--text-heading);

    padding: 0.75rem 0.5rem;
    box-sizing: border-box;
    height: var(--navbar-height-mobile);

    background: var(--dark-banner);
}

svg {
    width: 40px;
    height: 40px;
    fill: currentColor;
}

.menu-btn svg {
    width: 50px;
    height: 28px;
    stroke: currentColor;
    fill: currentColor;
}

.menu-btn {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    cursor: pointer;
    width: 48px;
    height: 48px;
    color: currentColor;
    fill: currentColor;
}

.menu-btn.open .hamburger {
    display: none;
}

.menu-btn.open .close-icon {
    display: inline;
}

.left {
    margin-right: 0;
}

.brand-name h1 {
    margin: 0;
    font-size: 1.5rem;
    color: currentColor;
    font-family: "Englebert", cursive, sans-serif;
    letter-spacing: 0.06em;
    font-size: clamp(2rem, 3vw, 2.5rem);
    font-weight: normal;
    margin-left: 0.25rem;
}

.close-icon {
    display: none;
}

.mobile-menu {
    position: fixed;

    top: var(--navbar-height-mobile);

    /* navbar height */
    left: 0;

    width: 100%;

    max-height: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    background: var(--bg-card);

    transition: max-height 0.3s ease;

    z-index: 1100;

    /*⚠️ temp style delete when running themes*/
    background: pink;
}

.mobile-menu.open {
    max-height: 500px;
}

.mobile-menu a,
.theme-toggle {
    padding: 1rem;

    text-decoration: none;
    color: currentColor;

    border-bottom: 1px solid var(--border-light);
}

.theme-toggle {
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

.theme-responsive {
    font-size: clamp(1.75rem, 3vw, 3rem);
    margin: 0;
}

.desk-navbar {
    align-items: center;
    width: 100%;
    height: var(--navbar-height-mobile);
    padding-top: 0.5rem;
}

.desk-nav-links {
    display: flex;
    gap: 1rem;

    margin-left: auto;
    margin-right: auto;

}

.desk-nav-links a {
    margin: 0 2rem;
}

.theme-toggle {
    margin-left: auto;
}


/*styles for about*/
.about {
    height: 90vh;
    padding-top: calc(var(--navbar-height-mobile) + 50px);
    background-color: var(--bg-page);
    color: currentColor;
    display: flex;

    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about h2 {
    color: var(--text-heading);
    margin-bottom: 25px;
}